.game-cointainer{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.box:hover{
    background-color: rgb(200, 178, 221);
    cursor: pointer;
}


.br{
    border-right: 0;
}

.bt{
    border-top: 0;
}

.bl{
    border-left: 0;
}

.bb{
    border-bottom: 0;
}

.gameInfo{
    margin: 50px;
}

.boxtext{
    font-size: 8vw;
}